* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	margin:0; padding:0;
	color:white;
}

.relative{position: relative;}
.absolute{position: absolute;}
.absolute-0{position: absolute;left:0;top:0;}
.fixed { position: fixed;}
.sticky { position: sticky; }

.top-0{top:0;}
.left-0{left:0;}
.right-0{right:0;}
.bottom-0{bottom:0;}
.z-1{z-index: 1;}
.z-most{z-index: 9999;}
.-z-1{z-index: -1;}

.dbg{outline:1px solid red;}

.vingnett {box-shadow: 0 0 var(--vingnett,50px) inset black;}
.shadow {box-shadow: 0 0 50px black;}

.image { background-image: var(--image);}
.bg-center { background-position:center;}
.bg-pos { background-position:var(--bg-pos,inherit);}
.bg-cover { background-size: cover;}
.bg-size { background-size: var(--bg-size,inherit);}
.bg-no-repeat { background-repeat:no-repeat;}
.bg-repeat { background-repeat: var(--bg-repeat,inherit);}

.bblur1{backdrop-filter: blur(1px);}
.bblur2{backdrop-filter: blur(3px);}
.bblur3{backdrop-filter: blur(5px);}
.bblur{backdrop-filter: blur(var(--bblur,0px));}

.icon1 { font-size:20pt;}
.font1 { font-size:1em; }
.font2 { font-size:2em; }
.font3 { font-size:3em; }
.font4 { font-size:4em; }
.font5 { font-size:5em; }
.font6 { font-size:6em; }

.flex { display: flex;}
.flex-rev { display: flex; flex-direction: row-reverse;}
.flex-col { display: flex; flex-direction: column; }
.flex-rev-col { display: flex; flex-direction: column-reverse;}

.just-start { justify-content:start;}
.just-center { justify-content:center;}
.just-between { justify-content:space-between;}
.just-around { justify-content:space-around;}
.just-evenly { justify-content:space-evenly;}
.just-end { justify-content:end;}

.items-start { align-items:start;}
.items-center { align-items:center;}
.items-base { align-items:baseline;}
.items-end { align-items:end;}

.w-full {width:100%;}
.h-full {height:100%;}
.w-size {width:var(--width,0px);}
.h-size {height:var(--height,0px);}

.py-1 {padding-block:0.5rem;}
.py-2 {padding-block:2rem;}
.py-3 {padding-block:3rem;}
.py-4 {padding-block:4rem;}
.py-5 {padding-block:4rem;}

.px-1 {padding-inline:0.5rem;}
.px-2 {padding-inline:2rem;}
.px-3 {padding-inline:3rem;}
.px-4 {padding-inline:4rem;}
.px-5 {padding-inline:4rem;}

.p-1 {padding:0.5rem;}
.p-2 {padding:2rem;}
.p-3 {padding:3rem;}
.p-4 {padding:4rem;}
.p-5 {padding:4rem;}

.gap-1 {gap:1rem;}
.gap-2 {gap:2rem;}
.gap-3 {gap:3rem;}
.gap-4 {gap:4rem;}
.gap-5 {gap:4rem;}




.bg-dark { background-color: #000000bb; }
.fg-dark { color: #000000bb; }

.bg { background-color: var(--bg); }
.hover-fg::hover { background-color:var(--h-fg,inherit);}

.fg { color: var(--fg,inherit); }
.hover-fg::hover { color:var(--h-fg,inherit);}


.pos { top:var(--pos-y,0px);left:var(--pos-x,0px);}
.-pos { bottom:var(--pos-y,0px);right:var(--pos-x,0px);}
.pos-x { top:var(--pos-y,0px);}
.pos-y { left:var(--pos-x,0px);}
.-pos-x { bottom:var(--pos-y,0px);}
.-pos-y { right:var(--pos-x,0px);}

.upper { text-transform: uppercase; }
.no-deco { text-decoration: none; }
.deco-wavy { text-decoration: wavy; }
.deco-under { text-decoration: underline; }

.no-link {color:inherit;text-decoration: none;}

.t-shadow {
	text-shadow: var(--ts-offx,0) var(--ts-offy,0) var(--ts-sz,50px) var(--ts-color,black);
}

.t-shadows {
	text-shadow: var(--t-shadows,unset);
}

.division0{
}

.division0{

}

.division0{

}